{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
<a href="#" class="ButtonBlack CommentSubmit right">Post Response</a>
#}

{% block fos_comment_form_title %}

{% endblock %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="CommentsWidget Widget">
    <div class="CommentComposeWidget Widget">
    <div class="WidgetHeader">
        <div class="clear"></div> 
    </div>
    <div class="CommentCompose">
        <div class="CommentComposeAuthorAvatar"><img src="{{ asset('bundles/noogamain/res/img/default_avatar.png') }}" height="36" width="36"></div>
        <div class="CommentComposeContainer">
            <div class="CommentComposeAuthorName">{{ user.username }}</div>
            <a href="{{ path('_security_logout') }}" class="NoogaLogout right">Log Out</a>
            <div class="CommentComposeFormContainer">
                <form class="fos_comment_comment_form" id="comment" action="{{ path("fos_comment_comment_create", { "threadId": thread.id }) }}" method="POST">
                    <div class="CommentComposeFieldContainer">
                        {% block fos_comment_form_fields %}
                            {{ form_errors(form) }}
                            {{ form_widget(form.body, { 'attr': { 'class': 'CommentComposeField' }} ) }}
                            {{ form_widget(form._token) }}
                        {% endblock %}
                    </div>
                    {% if user.ext is defined %}
                    {% if user.ext == 'fb' %}
                    <div class="ShareOption align" id="fb"><label><input id="fbshare" type="checkbox"> Share on Facebook</label></div>
                    {% endif %}
                    {% if user.ext == 'tw' %}
                    <div class="ShareOption align" id="tw"><label><input id="twshare" type="checkbox"> Share on Twitter</label></div>
                    {% endif %}
                    {% if user.ext == 'go' %}
                    <div class="ShareOption align" id="gp"><label><input id="goshare" type="checkbox"> Share on Google+</label></div>
                    {% endif %}
                    {% endif %}
                    <div class="fos_comment_submit">
                        {% block fos_comment_form_submit %}
                            <input type="submit" id="ext_submit" class="ButtonBlack CommentSubmit right" value="Post Response"/>
                        {% endblock %}
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endif %}
